<div class="app-page">
    <div class="app-page__header">
        <h1>Demo</h1>
    </div>
    <div class="app-page__content">

        <div class="navigation">
            <a class="app-a" routerLink="./styles" routerLinkActive="app-a_active">Styles</a>
            <a class="app-a" routerLink="./shared" routerLinkActive="app-a_active">Shared</a>
            <a class="app-a" routerLink="./guards" routerLinkActive="app-a_active">Guards</a>
        </div>

        <router-outlet></router-outlet>

    </div>
</div>