<div class="form-gap"></div>
<div class="col-md-6 offset-md-4">
  <div class="col-md-6">
    <div class="card">
      <article class="card-body">
        <div class="text-center">
          <h3><i class="fa fa-lock fa-4x"></i></h3>
          <h2 class="text-center">Forgot Password?</h2>
          <p>You can reset your password here.</p>
          <div class="panel-body">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"
                  ><i class="glyphicon glyphicon-envelope color-blue"></i
                ></span>
                <input
                  id="email"
                  name="email"
                  placeholder=""
                  class="form-control"
                  type="email"
                />
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block">
                Reset Password
              </button>
              <button [routerLink]="['/auth/login']" routerLinkActive="router-link-active"  type="submit" class="btn btn-success btn-block">
                Back
              </button>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>
