@import "styles/colors";

.date-range {
    &__items{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__dash {
        display: block;
        padding-right: 12px;
    }
}

:host-context(.form-field_error) {
    .input {
      border: 1px solid $error;
    }
}