$base: #fafafa;
$base-dark: #e0e0e0;
$base-light: #ffffff;
$on-base: #000000;

$primary: #00bcd4;
$primary-dark: #008ba3;
$primary-light: #62efff;
$on-primary: #ffffff;

$secondary: #ffd54f;
$secondary-dark: #c8a415;
$secondary-light: #ffff81;
$on-secondary: #000000;

$error: #B00020;
$on-error: #ffffff;

$success: #99aa00;
$on-success: #ffffff;