@import "reset";

@import "colors";
@import "mixins";
@import "fonts";

@import "base";
@import "layout";
@import "vendor";

html,
body {
    height: 100%;
    margin: 0;
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    background: $base;
    color: $on-base;
}