@import "styles/colors";

.password {
    display: flex;

    &__actions {
        min-width: 50px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}

:host-context(.form-field_error) {
    input {
        border: 1px solid $error;
    }
}