@import "styles/colors";
@import "styles/mixins";

.stepper {

    position: relative;

    &__header {

        @include shadow;
        background: $base;
        height: 40px;
        border-radius: 25px;
        padding: 0 15px 0 5px;
        margin-bottom: 40px;

        display: flex;
        justify-content: space-between;

    }

    &__content {
        margin-bottom: 16px;
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}

.step {

    display: flex;
    align-items: center;
    justify-content: center;

    &__icon {
        width: 28px;
        min-width: 28px;
        height: 28px;
        border-radius: 14px;
        line-height: 28px;
        text-align: center;
        font-size: 0.8em;
        margin-right: 12px;
        border: solid 1px $base-dark;
    }

    &__label {
        text-transform: uppercase;
    }

    &_active {
        color: $secondary-dark;
        .step__icon {
            background-color: $secondary;
            border-color: $secondary;
            color: $on-secondary;
        }
    }

}

.gap {
    margin: 0 12px;
    height: 20px;
    border-bottom: 1px solid $base-dark;
    flex-grow: 1;
}